h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: white;
    margin: 10px 13px 10px 13px;
}
table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #ddd;
  padding: 3px 10px;
}
th {
  padding: 5px 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
  text-decoration: none;
}
a img {
  border: none;
}
body > p {
  margin-bottom: 9px;
  margin-left: 165px;
}
h1, h2, h3, h4, h5, h6 {
  color: #404040;
  line-height: 36px;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}
h2 {
  clear: both;
  font-size: 24px;
  border-bottom: 1px solid #666;
  padding-bottom: 2px;
}
h3 {
  font-size: 14px;
  line-height: 24px;
  float: left;
  width: 120px;
  margin-right: 25px;
  margin-top: 6px;
  font-weight: normal;
}
h4 {
  font-size: 14px;
  margin-left: 150px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
@media screen and (min-width: 914px) {
  body {
    width: 854px;
    margin:10px auto;
  }
}
ul {
  margin-left: 150px;
}
img {
  width: 150px;
  float: left;
  margin-left: -145px;
  margin-top: -15px;
  margin-bottom: 20px;
}
